resources/config.properties
abstracts/ERIC
ERIC Database/eric1995.xml
ERIC Database/eric1996.xml
ERIC Database/eric1997.xml
ERIC Database/eric1998.xml
ERIC Database/eric1999.xml
ERIC Database/eric2000.xml
ERIC Database/eric2001.xml
ERIC Database/eric2002.xml
ERIC Database/eric2003.xml
ERIC Database/eric2004.xml
ERIC Database/eric2005.xml
ERIC Database/eric2006.xml
ERIC Database/eric2007.xml
ERIC Database/eric2008.xml
ERIC Database/eric2009.xml
ERIC Database/eric2010.xml
ERIC Database/eric2011.xml
ERIC Database/eric2012.xml
ERIC Database/eric2013.xml
ERIC Database/eric2014.xml
ERIC Database/eric2015.xml
ERIC Database/eric2016.xml
abstracts/CINAHL
abstracts/ERIC 2 keywords
abstracts/ERIC 3 keywords
abstracts/pubmed
